<h1>Welcome to this page</h1>

<%= react_component("HelloWorld", @props) %>

<p>Random person's name: <%= @person_name %></p>

<p>It follows the clock component:</p>

<%= react_component("Clock") %>
<%= react_component("Clock") %>
<%= react_component("Clock") %>
